* { margin: 0; padding: 0; vertical-align: top; box-sizing: border-box; }
li { list-style: none; }
a { text-decoration: none; }
p { word-break: keep-all; }
img { border: 0; max-width: 100%; }
input, select { appearance: none; outline: none; }
body {
    font-family: "Roboto", sans-serif; color: #0077ff;
    min-width: 320px; margin: 0 auto;  overflow-x: hidden;
}
canvas { display: block; }